html {
    scroll-behavior: smooth;
}

ul, p {
    font-size: 20px;
}

.none {
    list-style-type: none;
}

.img-slide {
    width: 800px;
    height: 600px;
}

.img-tecnologias {
    width: 40px;
    height: 40px;
}

.tm-social{
    width: 50px;
    height: 50px;
}
